/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */

header {
  background-image: url(../img/wall.png);
  padding: 1rem;
  font-family: 'Edu SA Beginner', sans-serif;
  font-style: italic;

  h1 {
    font-size: 4rem;
  }
}

/*  Main */
main{
  background-image: url(../img/cork.png);
  background-size: cover;
}