/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */

header {
  background-image: url(../img/wall.png);
  padding: 1rem;
  font-family: 'Edu SA Beginner', sans-serif;
  font-style: italic;

  h1 {
    font-size: 4rem;
  }
}

/*  Main */
main{
  background-image: url(../img/cork.png);
  min-height: 100vh;

  /* polaroid */
  figure{
    background-color: white;
    padding: 1rem;
    position: relative;
    box-shadow:  2px 3px 3px;

    @media screen and (max-width: 768px) {
      max-width: 400px;
    }

    .pin{
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    /* caption */
    figcaption{
      margin: 0.25rem 0;
      padding-top: 1rem;
      
      .date{
        font-family: 'Sometype Mono';
        font-weight: 700;
        font-size: 1rem;
        color: gray;

        @media screen and (max-width: 768px) {
          font-size: 0.75rem;
        }

      }
      
      .title{
        font-family: 'Edu SA Beginner', sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }

  }

}